@font-face {
    font-family: 'Eina01';
    font-display: swap;
    src: url(/fonts/eina/38DF1D_0_0.eot);
    src: url("/fonts/eina/38DF1D_0_0.eot?#iefix") format("embedded-opentype"), url(/fonts/eina/38DF1D_0_0.woff2) format("woff2"), url(/fonts/eina/38DF1D_0_0.woff) format("woff"), url(/fonts/eina/38DF1D_0_0.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Eina01';
    font-display: swap;
    src: url(/fonts/eina/38DF1D_1_0.eot);
    src: url("/fonts/eina/38DF1D_1_0.eot?#iefix") format("embedded-opentype"), url(/fonts/eina/38DF1D_1_0.woff2) format("woff2"), url(/fonts/eina/38DF1D_1_0.woff) format("woff"), url(/fonts/eina/38DF1D_1_0.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Eina01';
    font-display: swap;
    src: url(/fonts/eina/38DF1D_2_0.eot);
    src: url("/fonts/eina/38DF1D_2_0.eot?#iefix") format("embedded-opentype"), url(/fonts/eina/38DF1D_2_0.woff2) format("woff2"), url(/fonts/eina/38DF1D_2_0.woff) format("woff"), url(/fonts/eina/38DF1D_2_0.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

body {
	font-family: whitman, serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	color: #4d4d4d;
}

.nav .meta {
	min-width: 150px;
	text-decoration: none;
}

.header-block {
	padding-top: 69px;
	padding-bottom: 69px;
}

.wide {
	max-width: 1204px;
	margin-left: auto;
	margin-right: auto;
}

.grid, .content > * {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	background: rgba(0,0,0,0.25);
}

.nav div {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 60px;
	width: 100%;
}

h1 {
	font-size: 64px;
	line-height: 100%;
	font-weight: 900;

	text-align: center;

	color: #FFFFFF;

	text-shadow: -2px 4px 0px rgba(0, 0, 0, 0.29);
	margin-bottom: 16px;
}

.meta {
	font-size: 20px;
	line-height: 29px;

	text-align: center;
	letter-spacing: 0.02em;

	color: #FFFFFF;

	opacity: 0.6;
}

.read-length {
	margin-top: 34px;
}

.content {
	margin-top: 42px;
}

.content > * {
	margin-bottom: 42px;
}

.content p {
	font-weight: 400;
	font-size: 22px;
	line-height: 130%;
}

.content h2 {
	font-weight: 800;
	font-size: 36px;
	line-height: 131.5%;
	/* or 47px */

	color: #4d4d4d;
}

blockquote {
	box-sizing: border-box;
	border-left: 8px solid #E89668;
	padding-left: 14px;
	padding-top: 5px;

	font-size: 24px;
	line-height: 131.5%;
	font-weight: 700;
}

blockquote footer {
	font-size: 18px;
	font-style: italic;
	font-weight: 200;
	margin-top: 5px;
}

.pull-quote {
	border: none;
	padding-left: 0;

	font-size: 72px;
	line-height: 110%;

	text-align: center;
}

.pull-quote.left {
	margin-left: 0;
	text-align: left;
}

.pull-quote.right {
	margin-right: 0;
	text-align: right;
}

ul, ol {
	list-style: none;
	margin-top: 0;
}

.content > * + ul, .content > * + ol {
	margin-top: -20px;
}

li {
	font-size: 22px;
	text-indent: 44px;
	line-height: 130%;
}

li:before {
	content: '•';
	margin-right: 5px;
}

ol {
	counter-reset: item;
}

ol > li:before {
	counter-increment: item;
	content: counter(item) ".";
}


ul.emoji li:before {
	content: none;
}

.content figure {
	display: block;
	margin: auto;
	margin-top: 96px;
	max-width: 1204px;
	margin-bottom: 56px;
}
.content img {
	max-width: 1204px;
}

figure figcaption {
	text-align: center;
	font-size: 16px;
	line-height: 130%;
}

.home h1 {
	margin-bottom: 20px;
}

.home {
	background: #F7F4FA;
}

.category-nav {
	height: 61px;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.category-nav a {
	font-family: Eina01;
	font-weight: 600;
	width: 190px;
	height: 61px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #B6A1CE;
	font-size: 14.5px;
	line-height: 20px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	text-decoration: none;
}

.content h5 {
	font-size: 24px;
	line-height: 100%;
	text-align: center;
	font-weight: bold;
	color: #707070;
}

.post-summary {
	color: #707070;
	margin-bottom: 69px;
}

.post-summary h2 {
	text-align: left;
}

.post-summary a {
	color: #707070;
	text-decoration: none;
}

.post-summary a:hover {
	color: #252525;
}

.post-summary p {
	font-size: 16px;
	line-height: 169%;
	margin-top: 12px;
}

.post-summary .metadata {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.post-summary .metadata div span:first-child {
	margin-right: 33px;
}

.home .header-block .meta {
	max-width: 579px;
	margin: auto;
	font-style: italic;
}

@media (max-width: 560px) {
	.header-block {
		padding-bottom: 42px;
	}
	.nav .meta {
		min-width: 110px;
	}
	.pull-quote {
		font-size: 48px;
		text-align: left !important;
	}
	.content p {
		font-size: 20px;
	}
	.content, .grid {
		padding-left: 16px;
		padding-right: 16px;
	}
	.content img {
		width: 100%;
	}
	h1 {
		font-size: 36px;
		text-shadow: none;
	}
	.content h2 {
		font-size: 24px;
	}
	.content > * {
		margin-bottom: 25px;
	}
	blockquote {
		font-size: 20px;
		line-height: 131.5%;
	}
	cite {
		font-size: 18px;
	}
	.post-summary {
		margin-bottom: 69px;
	}
	.home .nav {
		padding-left: 16px;
		padding-right: 16px;
	}
}