.first-image-default {
	width: 100%;
	height: 60vh;
	background-repeat: no-repeat;
  background-size: 100% auto;
}

.first-image-title-default {
	margin: 0;
	font-size: 48px;
	line-height: normal;
	color: #101010;
	
}

.first-image-meta-default {

	font-size: 20px;
	line-height: normal;
	font-weight: normal;
	

}

.blog-content-default {
	margin: auto;
	max-width: 720px;
	margin-top: 50px;
}

.textOverlayHeader {
	display: none;
	margin: 36px;
	color: #fff;
}

.textDesktopHeader {
	display: block;
	margin-bottom: 69px;
}

.blog-content-default h1 {
	color: #101010;
	font-size: 36px;
	line-height: normal;
}

.headerDesktop {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
	/* padding: 27px 20% 0 20%; */
	margin: auto;
	width: 720px;
	padding-top: 27px;
}

.headerMobile {
	display: none; 
	flex-direction: row; 
	justify-content: space-between; 
	padding: 27px 36px 0 36px;
}

@media only screen and (max-width: 768px) {
	.headerDesktop {
		display: none;
	}
	
	.headerMobile {
		display: flex; 
	}

	.textOverlayHeader {
		display: block;
		padding-top: 40px;
	}

	.textOverlayHeader h1 {
		color: #fff;
		font-size: 30px;
	}

	.textDesktopHeader {
		display: none;
	}

	.blog-content-default {
		margin-left: 16px;
		margin-right: 16px;

	}

	.first-image-default {
		min-height: 40vh;
		height: auto;
	}
	.first-image-title-default {
		padding: 0;
		font-size: 24px;
	}
	.first-image-topic-default {
		margin-top: 0 !important;
		padding-top: 20%;
		padding-left: 16px;
	}
	.first-image-meta-default {
		padding-top: 0;
		font-size: 20px;
		font-weight: normal;
		padding-bottom: 20px;
	}
}



.blog-content-default p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	padding-bottom: 30px;
	font-family: Inter;

	color: #101010;
}

.blog-content-default p img {
	width: 100%;
}

a {
	color: #101010;
}