#home {
	margin: auto;
	width: 720px;
	padding-bottom: 72px;
}


.home-header {
	height: 102px; 
	display: flex; 
	flex-direction: column;
}

.home-header a {
	position: absolute; 
	margin-top: 40px; 
	font-family: Inter;
	font-size: 18px;
}

.home-header h1 {
	margin-top: 40px; 
	font-size: 18px;
	text-align: center; 
	color: #EB4967; 
	font-family: Eina01-SemiBold;
}

.home-header-mobile {
	height: 85px; 
	flex-direction: row;
	display: none;
	align-items: center;
  justify-content: center;
	
}

.post-title {
	font-size: 64px;
	line-height: 84px;
	padding: 0 30px 0 30px;
	color: #FFFFFF;
	margin-bottom: 0;
}

.post-date {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	color: #FFFFFF;
	padding: 0 30px 0 30px;
	margin-top: 20px;
}

.post {
	box-shadow: 0px 4px 34px rgba(104, 104, 104, 0.25);
	width: 100%;
	min-height: 600px;
	height: 100%;
}

.postsInline {
	display: grid;
	/* grid-template-columns: repeat(3, 100%); */
	grid-gap: 30px;
	justify-content: center;
  
	grid-template-columns: repeat(2, 48%);
  	grid-template-rows: repeat(auto-fit, auto);

	padding-top: 30px;
}

@media only screen and (max-width: 768px) {
	#home {
		margin: auto;
		width: auto;
	}

	.home-header {
		display: none;
	}
	
	.home-header-mobile {
		display: flex;
		padding-left: 16px;
		padding-right: 16px;
		z-index: 10;
		position: relative;
	}

	#home {
		margin-left: 0;
		margin-right: 0;
		
	}

	.posts {
		margin-left: 16px;
		margin-right: 16px;
	}

	.post {
		border-radius: 0;
		min-height: 250px;
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
	}

	.post-title {
		font-size: 30px;
		line-height: normal;
	}

	.post-date {
		font-size: 12px;
		line-height: normal;
	}
	
	.first-image {
		border-radius: 0;
		box-shadow: none !important;
		z-index: 0;
	}

	.postsInline {
		margin-left: 16px;
		margin-right: 16px;
		padding-top: 30px !important;
		/* display: grid; */
		/* grid-template-columns: repeat(3, 100%); */
		/* grid-gap: 3%; */
		justify-content: center;
		/* max-width: 528.375px; */
		
  		
	
		grid-template-columns: repeat(auto-fit, 100%);
		margin-top: 0;
		padding-top: 0;
	}

	.postsInline .post {
		max-width: 528.375px;
		margin: 0 auto 0 auto;
		height: auto;
	}

	.postsInline .pots h1 {
		font-size: 48px;
	}

}



.filter-label {
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	margin-right: 11px;

	color: #58476D;
}

.posts {

	display: grid;
  	/* grid-template-columns: repeat(3, 100%); */
  	grid-gap: 30px;
  	justify-content: center;
	
  	/* grid-template-columns: repeat(auto-fit, 100%); */
    /* grid-template-rows: repeat(auto-fit, 600px); */

  /* padding-top: 42px; */
  

}





.post-image {
	width: 100%;
}
 .linkBack {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: normal;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.54);
 }

.postsInline .post-title {
	font-size: 48px;
	line-height: 63px;
}
