#home {
	margin-left: 360px;
	margin-right: 360px;
	padding-bottom: 72px;
}

@media only screen and (max-width: 768px) {
	#home {
		margin-left: 0;
		margin-right: 0;
	}

	.posts {
		margin-left: 16px;
		margin-right: 16px;
	}

	.home-header{
		padding-left: 10px;
		padding-right: 10px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		z-index: 10;
		position: relative;
	}
	.first-image-author {
		margin-top: 0;
	}
	.first-image {
		border-radius: 0;
		box-shadow: none !important;
		z-index: 0;
	}
}

.filter-label {
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	margin-right: 11px;

	color: #58476D;
}

.posts {

	display: grid;
  	/* grid-template-columns: repeat(3, 100%); */
  	grid-gap: 3%;
  	justify-content: center;
	
  	/* grid-template-columns: repeat(auto-fit, 100%); */
    /* grid-template-rows: repeat(auto-fit, 600px); */

  padding-top: 42px;
  

}

.post {
	box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	width: 100%;
	min-height: 500px;
	height: 100%;

	
	/*  */
}

.post-title {
	font-size: 64px;
	line-height: 84px;
	padding: 0 30px 0 30px;
	color: #FFFFFF;
}

.post-date {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	color: #FFFFFF;
	padding: 0 30px 0 30px;
}

.post-image {
	width: 100%;
}
 .linkBack {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: normal;
	
	color: rgba(0, 0, 0, 0.54);
 }