<footer class="footer">
	<div class="grid">
		<div class="links">
			<a href="https://metomic.io" class="meta">&copy; Metomic 2019</span>
            <a href="{{ '/reference.html' | absolute_url }}" class="meta">Reference Library</a>
			<a href="javascript:window.Metomic.raise();" class="meta">Manage Cookies</a>
			<a href="https://metomic.io/privacy-policy" class="meta">Privacy Policy</a>
			<a href="mailto:georgia@metomic.io" class="meta">Contact Us</a>
		</div>
	</div>
</footer>
<script>
console.log(`%c ___________________________________________________________________
| we're hiring engineers (and more!) https://metomic.io/careers     |
| help us fix the internet                                          |
 -------------------------------------------------------------------
        \\   ^__^
         \\  (oo)\\_______
            (__)\\       )\\/\\
                ||----w |
				||     ||`, "font-family:monospace, font-size: 16px")
</script>
