<head>
  <meta charset="UTF-8">

  <!-- Primary Meta Tags -->
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="title" content="{{ page.title }}">
  <meta name="description" content="{{ content | truncate_words: 20 }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ content | truncate_words: 20 }}">
  <meta property="og:image" content="{{ page.socialImage }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ site.baseurl }}{{ page.url }}">
  <meta property="twitter:title" content="{{ page.title }}">
  <meta property="twitter:description" content="{{ content | truncate_words: 20 }}">
  <meta property="twitter:image" content="{{ page.socialImage }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/post.css">
  
  <!--
/**
 * @license
 * MyFonts Webfont Build ID 3728244, 2019-03-04T07:39:56-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Eina01-SemiBold by Textaxis
 * URL: https://www.myfonts.com/fonts/textaxis/eina/01-semibold/
 * 
 * Webfont: Eina01-Regular by Textaxis
 * URL: https://www.myfonts.com/fonts/textaxis/eina/01-regular/
 * 
 * Webfont: Eina01-Bold by Textaxis
 * URL: https://www.myfonts.com/fonts/textaxis/eina/01-bold/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3728244
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2013 Textaxis. v 1.0 by I&#x00F1;igo Jerez.
 * Barcelona. All rights reserved.
 * 
 * © 2019 MyFonts Inc
*/

-->
<link rel="stylesheet" type="text/css" href="/fonts/MyFontsWebfontsKit.css">
<link rel="stylesheet" type="text/css" href="/fonts/Inter/inter.css">

</head>