<!--
  
                     _                         _                
  _ __ ___     ___  | |_    ___    _ __ ___   (_)   ___         
 | '_ ` _ \   / _ \ | __|  / _ \  | '_ ` _ \  | |  / __|        
 | | | | | | |  __/ | |_  | (_) | | | | | | | | | | (__   _____       
 |_| |_| |_|  \___|  \__|  \___/  |_| |_| |_| |_|  \___| |_____| 

 help us fix the internet
 https://metomic.io/careers

-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-language" content="en">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Primary Meta Tags -->
		<title>{{ site.title }}</title>
		<meta name="title" content="{{ site.title }}">
		<meta name="description" content="{{ site.title }}">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
		<meta property="og:title" content="{{ site.title }}">
		<meta property="og:description" content="{{ page.description }}">
		<meta property="og:image" content="{{ "/images/og-image.png" | absolute_url }}">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="{{ site.url }}{{ site.baseurl }}">
		<meta property="twitter:title" content="{{ site.title }}">
		<meta property="twitter:description" content="{{ site.description }}">
		<meta property="twitter:image" content="{{ "/images/og-image.png" | absolute_url }}">

		<!-- favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | absolute_url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | absolute_url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | absolute_url }}">
		<link rel="manifest" href="{{ "/site.webmanifest" | absolute_url }}">
		<link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | absolute_url }}" color="#000000">
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="theme-color" content="#000000">

		<!-- RSS -->
		{% feed_meta %}

		<link rel="stylesheet" href="https://use.typekit.net/odr3ahh.css">
		<link rel="stylesheet" href="{{ "/css/reset.css" | absolute_url }}" />
		<link rel="stylesheet" href="{{ "/css/styles.css" | absolute_url }}" />

		<style>
			.header, .footer {
				background: #252525;
			}
			{% for category in site.categories %}
				{% assign name = category[0] %}
				{% assign color = site.category_colors[name] %}
				.category-nav a[data-category="{{ name }}"]:hover, .category-nav a[data-category="{{ name }}"].active {
					color: {{ color }};
					border-bottom: 1px solid {{ color }};
				}
				body[data-current-category="{{ name }}"] .header, body[data-current-category="{{ name }}"] .footer {
					background: {{ color }};
				}
				body[data-current-category="{{ name }}"] #to-top {
					background: {{ color }};
				}
				a[data-category="{{ name }}"] .hover-indicator {
					color: {{ color }};
				}
			{% endfor %}
		</style>

		<!-- consent manager -->
		<script>
			!(function(p,r,i,v,a,c,y){p['MetomicObject']=a;p[a]=p[a]||function(){
			(p[a].q=p[a].q||[]).push(arguments)},p[a].l=1*new Date();c=r.createElement(i),
			y=r.getElementsByTagName(i)[0];c.async=1;c.src=v+'?d='+r.location.host;y.parentNode.insertBefore(c,y)
			})(window, document, 'script', 'https://consent-manager.metomic.io/embed.js', 'Metomic');
			Metomic('load', { projectId: 'prj:7e2d5d70-af4a-43f3-9370-fa0fd3a78819' });
		</script>

		<!-- analytics -->
		<script type="text/x-metomic" data-metomic-policy="statistics" async  src="https://cdn.simpleanalytics.io/hello.js"></script>
	</head>
	<body class="home">
		<div class="header">
			<nav class="nav">
				<div class="wide">
					<a href="https://metomic.io" class="meta" id="back">Back to Metomic</a>
					<span class="meta logo">{{ site.name }}</span>
					<a href="{{ "/reference.html" | absolute_url }}" class="meta" id="back">Reference Library</a>
				</div>
			</nav>
			<header class="header-block">
				<div class="grid">
					<h1 id="title">{{ site.title }}</h1>
					<p class="meta" id="description">{{ site.description }}</p>
				</div>
			</header>
		</div>

		<nav class="category-nav" id="top">
			<a href="#" onclick="Metomic('configure', { theme: { primaryColor: '#252525' } });">latest</a>
			{% assign sortedCategories = site.categories | sort %}

			{% for category in sortedCategories %}
				{% assign name = category[0] %}
				{% assign color = site.category_colors[name] %}
				{% assign desc = site.category_descriptions[name] %}
				{% if site.category_hidden contains name %}
				{% else %}
					<a 
						href="#{{name}}" 
						data-category="{{ name }}" 
						data-category-desc="{{ desc }}" 
						onclick="Metomic('configure', { theme: { primaryColor: '{{ color }}' } });"
					>{{ name }}</a>
				{% endif %}
			{% endfor %}

			<select id="responsive-nav">
				<option value="#">All</a>
				{% for category in sortedCategories %}
					{% assign name = category[0] %}
					{% assign desc = site.category_descriptions[name] %}
					{% if site.category_hidden contains name %}
					{% else %}
						<option value="#{{name}}" data-category="{{ name }}" data-category-desc="{{ desc }}">{{ name }}</a>
					{% endif %}
				{% endfor %}
			</select>
		</nav>

		<section class="content grid">
			<h5 id="category-title">Latest</h5>
			{% for post in site.posts %}
				<a class="post-summary" href="{{ post.url | absolute_url }}" data-category="{{post.categories[0]}}">
					<div class="hover-indicator">
						<svg viewBox="0 0 6 214" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="6" height="214" rx="3" fill="currentColor"/>
						</svg>
					</div>
					<h2>{{post.title}}</h2>
					<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
					<div class="metadata">
						<span>{{ post.categories[0] }}</span>
						<span>{% assign words = post.content | number_of_words %}
							{% if words < 360 %}1 min{% else %}{{ words | divided_by: 180 }} min{% endif %} read
						</span>
						<span>{{ post.date | date_to_string }}</span>
					</div>
				</a>
			{% endfor %}
		</section>
		<button title="to top" id="to-top" onclick="window.scrollTo({top: 0, behavior: 'smooth'});">⬆</button>
		{% include footer.html %}
		<script>
			window.categories = {{ site.category_descriptions | jsonify }}
		</script>
		<script src="{{ '/js/home.js' | absolute_url }}"></script>
	</body>
</html>
