<!DOCTYPE html>
<html lang="{{ site.locale }}" style="margin-top: 0 !important;">
  
  {% include post-head.html %}

  <body>
    <section class="main-content" style="margin-top: 0 !important;">
      
        <div style="margin-top: 0; background-color: {{page.themeColor}};" class="first-image-default">
            <div class="headerDesktop">
              <a href="/" class="linkBack">&larr; back</a>
              <a style="margin-top: 0; font-size: 18px; line-height: normal; color: #FFFFFF; font-weight: bold; text-decoration: none; font-family: Eina01-SemiBold;" >{{page.topic}}</a>
              <h1 style="margin-top: 0; font-size: 18px; line-height: normal; font-weight: normal; color: #FFFFFF; font-family: Eina01-Regular;" >{{page.author}}</h1>
            </div>
            <div class="headerMobile">
                <a style="margin-top: 0; font-size: 18px; line-height: normal; color: #FFFFFF; font-weight: bold; text-decoration: none; font-family: Eina01-SemiBold;" >{{page.topic}}</a>
                <a style="margin-top: 0; font-size: 18px; line-height: normal; color: #FFFFFF; font-weight: bold; text-decoration: none; font-family: Eina01-Regular;" >{{page.author}}</a>
              </div>
            <div class="textOverlayHeader">
              <h1 class="first-image-title-default" style="font-family: Eina01-SemiBold;">{{page.title}}</h1>
              <h2 class="first-image-meta-default" style="font-family: Eina01-Regular;">{{ page.date | date_to_string }}</h2>
            </div>
          </div>
          
          <div class="blog-content-default">
              <div class="textDesktopHeader">
                <h1 class="first-image-title-default" style="font-family: Eina01-SemiBold;">{{page.title}}</h1>
                <h2 class="first-image-meta-default" style="font-family: Inter; color: #828282;">{{ page.date | date_to_string }}</h2>
              </div>
              {{ content }}
          </div>
          

      {% include page-footer.html %}

    </section>
  </body>
</html>



